{{ header }}


<section class="section hero">
  <div class="container hero__container">
    <div class="hero__sidebar sidebar">
      <button class="btn-reset sidebar__head js-sidebar-head">
        <div class="sidebar__head-icon"></div>
        <div class="sidebar__head-name">Каталог</div>
      </button>

      {{ menu }}

    </div>
    <div class="hero__content">
      <div class="swiper hero-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="hero-swiper__item" style="background-image: url(/image/catalog/assets/img/image/image1.jpg);">
              <div class="hero-swiper__item-inner">
                <div class="hero-swiper__item-text">
                  <strong>Большой выбор душевых кабин</strong>
                  <p>Не пропусти такую</p>
                </div>
                <div class="hero-swiper__item-button">
                  <span>от 102 руб</span>
                  <svg width="5" height="10" viewBox="0 0 5 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M5 4.99805C4.99914 5.16543 4.93488 5.32644 4.82007 5.44824L1.05005 9.31787C0.934574 9.43304 0.778081 9.49805 0.61499 9.49805C0.4519 9.49805 0.295407 9.43304 0.179932 9.31787C0.0644593 9.19851 -2.00599e-08 9.03912 -2.73196e-08 8.87305C-3.45784e-08 8.70697 0.0644592 8.54758 0.179932 8.42822L3.52002 4.99805L0.179931 1.57812C0.0644589 1.45877 -3.58396e-07 1.29889 -3.65656e-07 1.13281C-3.72915e-07 0.96674 0.0644589 0.807346 0.179931 0.687988C0.235983 0.628986 0.303635 0.581909 0.378418 0.549805C0.4532 0.5177 0.533607 0.501465 0.61499 0.501465C0.696372 0.501465 0.777024 0.5177 0.851806 0.549805C0.926588 0.581909 0.993996 0.628986 1.05005 0.687988L4.82007 4.55811C4.87754 4.616 4.92297 4.68475 4.95386 4.76025C4.98475 4.83576 5.00042 4.91647 5 4.99805Z"
                      fill="white" />
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="hero-swiper__item" style="background-image: url(/image/catalog/assets/img/image/image1.jpg);">
              <div class="hero-swiper__item-inner">
                <div class="hero-swiper__item-text">
                  <p>Большой выбор душевых кабин</p>
                  <p>Не пропусти такую</p>
                </div>
                <div class="hero-swiper__item-button">
                  <span>от 102 руб</span>
                  <svg width="5" height="10" viewBox="0 0 5 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M5 4.99805C4.99914 5.16543 4.93488 5.32644 4.82007 5.44824L1.05005 9.31787C0.934574 9.43304 0.778081 9.49805 0.61499 9.49805C0.4519 9.49805 0.295407 9.43304 0.179932 9.31787C0.0644593 9.19851 -2.00599e-08 9.03912 -2.73196e-08 8.87305C-3.45784e-08 8.70697 0.0644592 8.54758 0.179932 8.42822L3.52002 4.99805L0.179931 1.57812C0.0644589 1.45877 -3.58396e-07 1.29889 -3.65656e-07 1.13281C-3.72915e-07 0.96674 0.0644589 0.807346 0.179931 0.687988C0.235983 0.628986 0.303635 0.581909 0.378418 0.549805C0.4532 0.5177 0.533607 0.501465 0.61499 0.501465C0.696372 0.501465 0.777024 0.5177 0.851806 0.549805C0.926588 0.581909 0.993996 0.628986 1.05005 0.687988L4.82007 4.55811C4.87754 4.616 4.92297 4.68475 4.95386 4.76025C4.98475 4.83576 5.00042 4.91647 5 4.99805Z"
                      fill="white" />
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="swiper-pagination hero-swiper__swiper-pagination"></div>
      </div>


      <div class="block-products block-new-products">
        <div class="block-products__top">
          <h2 class="block-products__title h2">Новинки</h2>
          <a href="#" class="button-link block-products__link">Смотреть все</a>
        </div>
        <div class="swiper swiper-style products-new-swiper">
          <div class="swiper-wrapper">

          {% for product_man in products %}
              {% if product_man.attrblock %}
                {% for attrblockitem in product_man.attrblock %}
                    {% if attrblockitem.attribute_group_id == 32 %}
                        {% for attributeitem in attrblockitem.attribute %}
                            {% if attributeitem.name == 'Новинка' %}
                                      
                              <div class="swiper-slide">
                                <div class="card-product">
                                  <div class="card-product__head">
                                    <div class="card-product__image">

                                      <div class="hvr__images">
                                        <img class="hvr__image" src="{{ product_man.thumb }}" alt="{{ heading_title }}">
                                        {% for img in product_man.imgDop %}
                                          <img class="hvr__image" src="{{ img.thumb }}" alt="{{ heading_title }}">
                                        {% endfor %}
                                      </div>

                                    </div>
                                    <div class="card-product__content-mob">
                                      <div class="card-product__check">
                                        {% if product_man.stock == 'В наличии' %}
                                          <div class="card-product__status item1">В наличии</div>
                                          {% elseif product_man.stock == 'Нет в наличии' %}
                                          <div class="ard-product__status">Нет в наличии</div>
                                          {% elseif product_man.stock == 'Ожидание 2-3 дня' %}
                                          <div class="ard-product__status">Ожидание 2-3 дня</div>
                                          {% elseif product_man.stock == 'Предзаказ' %}
                                          <div class="ard-product__status">Предзаказ</div>
                                        {% endif %}
                                      </div>
                                      <div class="card-product__name1">{{ product_man.model }}</div>
                                      <a href="{{ product_man.href }}" class="card-product__name2">{{ product_man.name }}</a>
                                      <div class="card-product__articles">Арт. 5678909</div>
                                    </div>
                                  </div>
                                  <div class="card-product__body">
                                    <div class="card-product__content-desck">
                                      <div class="card-product__check">

                                      {% if product_man.stock == 'В наличии' %}
                                        <div class="card-product__status item1">В наличии</div>
                                        {% elseif product_man.stock == 'Нет в наличии' %}
                                        <div class="ard-product__status">Нет в наличии</div>
                                        {% elseif product_man.stock == 'Ожидание 2-3 дня' %}
                                        <div class="ard-product__status">Ожидание 2-3 дня</div>
                                        {% elseif product_man.stock == 'Предзаказ' %}
                                        <div class="ard-product__status">Предзаказ</div>
                                      {% endif %}
                                      
                                      </div>
                                      <div class="card-product__name1">{{ product_man.model }}</div>
                                      <a href="{{ product_man.href }}" class="card-product__name2">{{ product_man.name }}</a>
                                      <div class="card-product__articles">Арт. {{ product_man.sku }}</div>
                                    </div>
                                    <div class="card-product__line"></div>
                                    <div class="card-product__total">
                                      <div class="card-product__count">
                                        <button class="btn-reset card-product__count-button card-product__count-button-decrease">
                                          <svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 1.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                                          </svg>
                                        </button>
                                        <input type="number" value="1" class="card-product__count-num">
                                        <button class="btn-reset card-product__count-button card-product__count-button-increase">
                                          <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 6.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                                            <path d="M6 1.5L6 11.5" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                                          </svg>
                                        </button>
                                      </div>
                                      <div class="card-product__price-single"><span>{{ product_man.price }}</span> руб</div>
                                    </div>

                                    {% if product_man.stock == 'В наличии' %}
                                      <button
                                          class="hits_slide__btn add-to-cart {% if product_man.in_cart %} added{% endif %}"
                                          id="add-to-cart"
                                          onclick="add_in_cart('{{ product_man.product_id }}', '{{ product_man.minimum }}'); return false;">
                                          <img class="image image__empty"
                                              data-src="/image/catalog/assets/img/icon_cart_empty.svg" alt="" data-lazy="" />
                                          <img class="image image__active"
                                              data-src="/image/catalog/assets/img/icon_cart_active.svg" alt="" data-lazy="" />
                                      </button>
                                      {% endif %}

                                    <button class="btn-reset button2 card-product__button">В корзину</button>
                                    <div class="card-product__favourites">
                                      <div class="card-product__favourites-icon"></div>
                                      <span>Добавить в избранное</span>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            {% endif %}
                          {% endfor %}
                      {% endif %}    
                  {% endfor %}
              {% endif %}
          {% endfor %}

          </div>
          <div class="swiper-button-prev products-swiper__swiper-button-prev"></div>
          <div class="swiper-button-next products-swiper__swiper-button-next"></div>
          <div class="swiper-scrollbar products-swiper__swiper-scrollbar"></div>
        </div>
      </div>


    </div>
  </div>
</section>

<section class="section block-banner">
  <div class="container">
    <div class="block-banner__inner" style="background-image: url(/image/catalog/assets/img/image/image3.jpg);">
      <div class="block-banner__content">
        <div class="block-banner__name">Закажи сантехнику со скидкой</div>
        <div class="block-banner__text">
          <p>Мы реализуем только сертифицированную продукцию</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section block-products block-top-products">
  <div class="container">
    <div class="block-products__top">
      <h2 class="block-products__title h2">ТОП продаж</h2>
      <a href="#" class="button-link block-products__link">Смотреть все</a>
    </div>
    <ul class="block-products__categories">
      <li class="block-products__category active">Фитинги</li>
      <li class="block-products__category">Насосы</li>
      <li class="block-products__category">Радиаторы</li>
      <li class="block-products__category">Рекомендуем</li>
      <li class="block-products__category">Системы для отопления</li>
      <li class="block-products__category">Системы для отопления</li>
      <li class="block-products__category">Запорная арматура</li>
      <li class="block-products__category">Сантехника</li>
      <li class="block-products__category">Приборы учета и КИП</li>
      <li class="block-products__category">Электротехника</li>
      <li class="block-products__category">Котлы</li>
    </ul>
    <div class="swiper swiper-style products-top-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card-product">
            <div class="card-product__head">
              <div class="card-product__image">
                <div class="hvr__images">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product1.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product2.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product3.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product4.png">
                </div>
              </div>
              <div class="card-product__content-mob">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
            </div>
            <div class="card-product__body">
              <div class="card-product__content-desck">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
              <div class="card-product__line"></div>
              <div class="card-product__total">
                <div class="card-product__count">
                  <button class="btn-reset card-product__count-button card-product__count-button-decrease">
                    <svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                  <input type="number" value="1" class="card-product__count-num">
                  <button class="btn-reset card-product__count-button card-product__count-button-increase">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 6.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                      <path d="M6 1.5L6 11.5" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                </div>
                <div class="card-product__price-single"><span>69.30</span> руб</div>
              </div>
              <button class="btn-reset button2 card-product__button">В корзину</button>
              <div class="card-product__favourites">
                <div class="card-product__favourites-icon"></div>
                <span>Добавить в избранное</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-product">
            <div class="card-product__head">
              <div class="card-product__image">
                <div class="hvr__images">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product1.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product2.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product3.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product4.png">
                </div>
              </div>
              <div class="card-product__content-mob">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                  <div class="card-product__label item1">Акция</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
            </div>
            <div class="card-product__body">
              <div class="card-product__content-desck">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                  <div class="card-product__label item1">Акция</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
              <div class="card-product__line"></div>
              <div class="card-product__total">
                <div class="card-product__count">
                  <button class="btn-reset card-product__count-button card-product__count-button-decrease">
                    <svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                  <input type="number" value="1" class="card-product__count-num">
                  <button class="btn-reset card-product__count-button card-product__count-button-increase">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 6.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                      <path d="M6 1.5L6 11.5" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                </div>
                <div class="card-product__price">
                  <div class="card-product__price-old"><span>133</span> руб</div>
                  <div class="card-product__price-new"><span>119.80</span> руб</div>
                </div>
              </div>
              <button class="btn-reset button2 card-product__button">В корзину</button>
              <div class="card-product__favourites">
                <div class="card-product__favourites-icon active"></div>
                <span>Добавить в избранное</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-product">
            <div class="card-product__head">
              <div class="card-product__image">
                <div class="hvr__images">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product1.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product2.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product3.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product4.png">
                </div>
              </div>
              <div class="card-product__content-mob">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
            </div>
            <div class="card-product__body">
              <div class="card-product__content-desck">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
              <div class="card-product__line"></div>
              <div class="card-product__total">
                <div class="card-product__count">
                  <button class="btn-reset card-product__count-button card-product__count-button-decrease">
                    <svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                  <input type="number" value="1" class="card-product__count-num">
                  <button class="btn-reset card-product__count-button card-product__count-button-increase">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 6.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                      <path d="M6 1.5L6 11.5" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                </div>
                <div class="card-product__price-single"><span>69.30</span> руб</div>
              </div>
              <button class="btn-reset button2 card-product__button">В корзину</button>
              <div class="card-product__favourites">
                <div class="card-product__favourites-icon"></div>
                <span>Добавить в избранное</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-product">
            <div class="card-product__head">
              <div class="card-product__image">
                <div class="hvr__images">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product1.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product2.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product3.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product4.png">
                </div>
              </div>
              <div class="card-product__content-mob">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
            </div>
            <div class="card-product__body">
              <div class="card-product__content-desck">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
              <div class="card-product__line"></div>
              <div class="card-product__total">
                <div class="card-product__count">
                  <button class="btn-reset card-product__count-button card-product__count-button-decrease">
                    <svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                  <input type="number" value="1" class="card-product__count-num">
                  <button class="btn-reset card-product__count-button card-product__count-button-increase">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 6.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                      <path d="M6 1.5L6 11.5" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                </div>
                <div class="card-product__price-single"><span>69.30</span> руб</div>
              </div>
              <button class="btn-reset button2 card-product__button">В корзину</button>
              <div class="card-product__favourites">
                <div class="card-product__favourites-icon"></div>
                <span>Добавить в избранное</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-product">
            <div class="card-product__head">
              <div class="card-product__image">
                <div class="hvr__images">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product1.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product2.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product3.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product4.png">
                </div>
              </div>
              <div class="card-product__content-mob">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
            </div>
            <div class="card-product__body">
              <div class="card-product__content-desck">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
              <div class="card-product__line"></div>
              <div class="card-product__total">
                <div class="card-product__count">
                  <button class="btn-reset card-product__count-button card-product__count-button-decrease">
                    <svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                  <input type="number" value="1" class="card-product__count-num">
                  <button class="btn-reset card-product__count-button card-product__count-button-increase">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 6.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                      <path d="M6 1.5L6 11.5" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                </div>
                <div class="card-product__price-single"><span>69.30</span> руб</div>
              </div>
              <button class="btn-reset button2 card-product__button">В корзину</button>
              <div class="card-product__favourites">
                <div class="card-product__favourites-icon"></div>
                <span>Добавить в избранное</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-product">
            <div class="card-product__head">
              <div class="card-product__image">
                <div class="hvr__images">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product1.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product2.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product3.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product4.png">
                </div>
              </div>
              <div class="card-product__content-mob">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
            </div>
            <div class="card-product__body">
              <div class="card-product__content-desck">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
              <div class="card-product__line"></div>
              <div class="card-product__total">
                <div class="card-product__count">
                  <button class="btn-reset card-product__count-button card-product__count-button-decrease">
                    <svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                  <input type="number" value="1" class="card-product__count-num">
                  <button class="btn-reset card-product__count-button card-product__count-button-increase">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 6.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                      <path d="M6 1.5L6 11.5" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                </div>
                <div class="card-product__price-single"><span>69.30</span> руб</div>
              </div>
              <button class="btn-reset button2 card-product__button">В корзину</button>
              <div class="card-product__favourites">
                <div class="card-product__favourites-icon"></div>
                <span>Добавить в избранное</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-product">
            <div class="card-product__head">
              <div class="card-product__image">
                <div class="hvr__images">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product1.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product2.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product3.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product4.png">
                </div>
              </div>
              <div class="card-product__content-mob">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
            </div>
            <div class="card-product__body">
              <div class="card-product__content-desck">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
              <div class="card-product__line"></div>
              <div class="card-product__total">
                <div class="card-product__count">
                  <button class="btn-reset card-product__count-button card-product__count-button-decrease">
                    <svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                  <input type="number" value="1" class="card-product__count-num">
                  <button class="btn-reset card-product__count-button card-product__count-button-increase">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 6.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                      <path d="M6 1.5L6 11.5" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                </div>
                <div class="card-product__price-single"><span>69.30</span> руб</div>
              </div>
              <button class="btn-reset button2 card-product__button">В корзину</button>
              <div class="card-product__favourites">
                <div class="card-product__favourites-icon"></div>
                <span>Добавить в избранное</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev products-swiper__swiper-button-prev"></div>
      <div class="swiper-button-next products-swiper__swiper-button-next"></div>
      <div class="swiper-scrollbar products-swiper__swiper-scrollbar"></div>
    </div>
  </div>
</section>

{% if manufacturers %}
<section class="section block-brands">
  <div class="container">
    <h2 class="block-brands__title h2">Наши бренДы</h2>
    <div class="block-brands__items">
      {% for manufacturer in manufacturers %}
      <a href="{{ manufacturer.href }}" class="block-brands__item">
        <div class="block-brands__item-image">
          <img loading="lazy" src="{{ manufacturer.thumb }}" class="image" width="" height="" alt="">
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

<section class="section block-contacts">
  <div class="container">
    <h2 class="block-contacts__title h2">Контакты</h2>
    <div class="block-contacts__container">
      <div class="block-contacts__content">
        <div class="block-contacts__text">
          <p><b>Мегадюйм</b> — компания, занимающаяся оптовой продажей сантехники и сантехнических изделий.
          </p>
          <br>
          <p>Компания располагает широким ассортиментом сантехнического оборудования.</p>
          <p>Здесь клиенты могут найти товары из:</p>
          <ul>
            <li>Италии (ITAP, APE, General Fittings);</li>
            <li>Польши (Armakan, AQUER);</li>
            <li>Чехии (Ekoplastik-Wavin);</li>
            <li>Германии (Viega);</li>
            <li>России (Wester, Energoflex);</li>
            <li>Беларуси (Bip-M).</li>
            <li>Только сертифицированная продукция.</li>
          </ul>
        </div>
        <div class="block-contacts__info">
          <div class="block-contacts__item">
            <div class="block-contacts__item-icon">
              <img loading="lazy" src="/image/catalog/assets/img/icon/location.svg" class="image" width="" height="" alt="">
            </div>
            <div class="block-contacts__item-right">
              <div class="block-contacts__item-name">Адрес</div>
              <span>г. Минск, пер. Бехтерева, 10/2</span>
            </div>
          </div>
          <div class="block-contacts__item">
            <div class="block-contacts__item-icon">
              <img loading="lazy" src="/image/catalog/assets/img/icon/mail.svg" class="image" width="" height="" alt="">
            </div>
            <div class="block-contacts__item-right">
              <div class="block-contacts__item-name">Email</div>
              <a href="mailto:megaduim@gmail.com">megaduim@gmail.com</a>
            </div>
          </div>
          <div class="block-contacts__item">
            <div class="block-contacts__item-icon">
              <img loading="lazy" src="/image/catalog/assets/img/icon/tel.svg" class="image" width="" height="" alt="">
            </div>
            <div class="block-contacts__item-right">
              <div class="block-contacts__item-name">Телефон</div>
              <a href="tel:+ 375 (29) 878-26-84">+ 375 (29) 878-26-84</a>
              <a href="tel:+ 375 (29) 123-45-67">+ 375 (29) 123-45-67</a>
            </div>
          </div>
          <div class="block-contacts__item">
            <div class="block-contacts__item-icon">
              <img loading="lazy" src="/image/catalog/assets/img/icon/blank.svg" class="image" width="" height="" alt="">
            </div>
            <div class="block-contacts__item-right">
              <div class="block-contacts__item-name">Режим работы</div>
              <span><b>Ежедневно</b> с 9:00–17:00, обед с 14:00–15:00
                <b>Сб, вс — выходной</b></span>
            </div>
          </div>
        </div>
      </div>
      <div class="block-contacts__map">
        <div id="map1" class="map"></div>
      </div>
    </div>
  </div>
</section>

<section class="block-other">
  <div class="container">
    <h2 class="block-other__title h2">Рекомендуем</h2>
    <div class="swiper swiper-style products-top-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card-product">
            <div class="card-product__head">
              <div class="card-product__image">
                <div class="hvr__images">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product1.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product2.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product3.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product4.png">
                </div>
              </div>
              <div class="card-product__content-mob">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
            </div>
            <div class="card-product__body">
              <div class="card-product__content-desck">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
              <div class="card-product__line"></div>
              <div class="card-product__total">
                <div class="card-product__count">
                  <button class="btn-reset card-product__count-button card-product__count-button-decrease">
                    <svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                  <input type="number" value="1" class="card-product__count-num">
                  <button class="btn-reset card-product__count-button card-product__count-button-increase">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 6.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                      <path d="M6 1.5L6 11.5" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                </div>
                <div class="card-product__price-single"><span>69.30</span> руб</div>
              </div>
              <button class="btn-reset button2 card-product__button">В корзину</button>
              <div class="card-product__favourites">
                <div class="card-product__favourites-icon"></div>
                <span>Добавить в избранное</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-product">
            <div class="card-product__head">
              <div class="card-product__image">
                <div class="hvr__images">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product1.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product2.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product3.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product4.png">
                </div>
              </div>
              <div class="card-product__content-mob">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                  <div class="card-product__label item1">Акция</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
            </div>
            <div class="card-product__body">
              <div class="card-product__content-desck">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                  <div class="card-product__label item1">Акция</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
              <div class="card-product__line"></div>
              <div class="card-product__total">
                <div class="card-product__count">
                  <button class="btn-reset card-product__count-button card-product__count-button-decrease">
                    <svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                  <input type="number" value="1" class="card-product__count-num">
                  <button class="btn-reset card-product__count-button card-product__count-button-increase">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 6.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                      <path d="M6 1.5L6 11.5" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                </div>
                <div class="card-product__price">
                  <div class="card-product__price-old"><span>133</span> руб</div>
                  <div class="card-product__price-new"><span>119.80</span> руб</div>
                </div>
              </div>
              <button class="btn-reset button2 card-product__button">В корзину</button>
              <div class="card-product__favourites">
                <div class="card-product__favourites-icon active"></div>
                <span>Добавить в избранное</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-product">
            <div class="card-product__head">
              <div class="card-product__image">
                <div class="hvr__images">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product1.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product2.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product3.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product4.png">
                </div>
              </div>
              <div class="card-product__content-mob">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
            </div>
            <div class="card-product__body">
              <div class="card-product__content-desck">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
              <div class="card-product__line"></div>
              <div class="card-product__total">
                <div class="card-product__count">
                  <button class="btn-reset card-product__count-button card-product__count-button-decrease">
                    <svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                  <input type="number" value="1" class="card-product__count-num">
                  <button class="btn-reset card-product__count-button card-product__count-button-increase">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 6.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                      <path d="M6 1.5L6 11.5" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                </div>
                <div class="card-product__price-single"><span>69.30</span> руб</div>
              </div>
              <button class="btn-reset button2 card-product__button">В корзину</button>
              <div class="card-product__favourites">
                <div class="card-product__favourites-icon"></div>
                <span>Добавить в избранное</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-product">
            <div class="card-product__head">
              <div class="card-product__image">
                <div class="hvr__images">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product1.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product2.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product3.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product4.png">
                </div>
              </div>
              <div class="card-product__content-mob">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
            </div>
            <div class="card-product__body">
              <div class="card-product__content-desck">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
              <div class="card-product__line"></div>
              <div class="card-product__total">
                <div class="card-product__count">
                  <button class="btn-reset card-product__count-button card-product__count-button-decrease">
                    <svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                  <input type="number" value="1" class="card-product__count-num">
                  <button class="btn-reset card-product__count-button card-product__count-button-increase">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 6.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                      <path d="M6 1.5L6 11.5" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                </div>
                <div class="card-product__price-single"><span>69.30</span> руб</div>
              </div>
              <button class="btn-reset button2 card-product__button">В корзину</button>
              <div class="card-product__favourites">
                <div class="card-product__favourites-icon"></div>
                <span>Добавить в избранное</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-product">
            <div class="card-product__head">
              <div class="card-product__image">
                <div class="hvr__images">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product1.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product2.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product3.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product4.png">
                </div>
              </div>
              <div class="card-product__content-mob">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
            </div>
            <div class="card-product__body">
              <div class="card-product__content-desck">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
              <div class="card-product__line"></div>
              <div class="card-product__total">
                <div class="card-product__count">
                  <button class="btn-reset card-product__count-button card-product__count-button-decrease">
                    <svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                  <input type="number" value="1" class="card-product__count-num">
                  <button class="btn-reset card-product__count-button card-product__count-button-increase">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 6.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                      <path d="M6 1.5L6 11.5" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                </div>
                <div class="card-product__price-single"><span>69.30</span> руб</div>
              </div>
              <button class="btn-reset button2 card-product__button">В корзину</button>
              <div class="card-product__favourites">
                <div class="card-product__favourites-icon"></div>
                <span>Добавить в избранное</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-product">
            <div class="card-product__head">
              <div class="card-product__image">
                <div class="hvr__images">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product1.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product2.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product3.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product4.png">
                </div>
              </div>
              <div class="card-product__content-mob">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
            </div>
            <div class="card-product__body">
              <div class="card-product__content-desck">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
              <div class="card-product__line"></div>
              <div class="card-product__total">
                <div class="card-product__count">
                  <button class="btn-reset card-product__count-button card-product__count-button-decrease">
                    <svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                  <input type="number" value="1" class="card-product__count-num">
                  <button class="btn-reset card-product__count-button card-product__count-button-increase">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 6.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                      <path d="M6 1.5L6 11.5" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                </div>
                <div class="card-product__price-single"><span>69.30</span> руб</div>
              </div>
              <button class="btn-reset button2 card-product__button">В корзину</button>
              <div class="card-product__favourites">
                <div class="card-product__favourites-icon"></div>
                <span>Добавить в избранное</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-product">
            <div class="card-product__head">
              <div class="card-product__image">
                <div class="hvr__images">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product1.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product2.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product3.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product4.png">
                </div>
              </div>
              <div class="card-product__content-mob">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
            </div>
            <div class="card-product__body">
              <div class="card-product__content-desck">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
              <div class="card-product__line"></div>
              <div class="card-product__total">
                <div class="card-product__count">
                  <button class="btn-reset card-product__count-button card-product__count-button-decrease">
                    <svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                  <input type="number" value="1" class="card-product__count-num">
                  <button class="btn-reset card-product__count-button card-product__count-button-increase">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 6.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                      <path d="M6 1.5L6 11.5" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                </div>
                <div class="card-product__price-single"><span>69.30</span> руб</div>
              </div>
              <button class="btn-reset button2 card-product__button">В корзину</button>
              <div class="card-product__favourites">
                <div class="card-product__favourites-icon"></div>
                <span>Добавить в избранное</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev products-swiper__swiper-button-prev"></div>
      <div class="swiper-button-next products-swiper__swiper-button-next"></div>
      <div class="swiper-scrollbar products-swiper__swiper-scrollbar"></div>
    </div>
  </div>
</section>



<script type="text/javascript">
    function add_in_cart(product_id, quantity) {
        var btn = this;
        $.ajax({
            url: 'index.php?route=checkout/cart/add',
            type: 'post',
            data: 'product_id=' + product_id + '&quantity=' + (typeof (quantity) != 'undefined' ? quantity :
                1),
            dataType: 'json',
            success: function (json) {

                if (json['redirect']) {
                    location = json['redirect'];
                }

                if (json['success']) {
                    if ($("#cart_added").hasClass('notify_action')) {
                        $('#cart_added').removeClass('notify_action');
                    }
                    $(document).find('#cart_added').addClass('notify_action').css('top', 90 + 'px');
                    //active_notify();
                    $(btn).html('В корзине');
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }
</script>



{{ footer }}