{% if categories %}
<ul class="sidebar__body js-sidebar-body">
{% for category in categories %}
  {% if category.children %}
  <li class="sidebar__body-item js-sidebar-body-item">
    <a href="{{ category.href }}" class="sidebar__body-name">{{ category.name }}</a>
    <button class="btn-reset sidebar__body-button"></button>
    {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
    <ul class="sub-menu">
      {% for child in children %}
        <li class="menu-item">
          <a href="{{ child.href }}">{{ child.name }} 2</a>
        </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </li>
  {% else %}
  <li class="sidebar__body-item js-sidebar-body-item">
    <a href="{{ category.href }}" class="sidebar__body-name">{{ category.name }}</a>
    <button class="btn-reset sidebar__body-button"></button>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endif %}

