<section class="home">
  <div class="home__container slider swiper home__slider">
    <div class="swiper-wrapper">

    {% for banner in banners %}
      <div class="swiper-slide home__slide">
        <div class="home__bg">
        {% if banner.link %}
          <video class="video" poster="{{ banner.image }}" autoplay="autoplay" loop="" muted="">
            <source src="{{ banner.link }}" type="video/mp4">
          </video>
          {% else %}
          <video class="video" poster="{{ banner.image }}" autoplay="autoplay" loop="" muted="">
          </video>
          {% endif %}
        </div>
        <div class="home__bottom">
          <div class="home__wrap">
            <h1 class="section_block__title section_block__title--white">{{ banner.title }}</h1>
            <p class="section_block__text section_block__text--12 section_block__text--white">Мы покажем тебе мир. Своими глазами.</p>
          </div>
          <a class="home__btn btn btn--white btn--icon_left" href="/modal_make_appointment">
            <svg class="btn__icon btn__icon--black btn__icon--left">
              <use xlink:href="#eye"></use>
            </svg>
            <span class="btn__text">Проверить зрение</span>
          </a>
        </div>
      </div>
    {% endfor %}

    </div>
  </div>
  </div>
</section>


<!-- <div class="swiper-viewport">
  <div id="slideshow{{ module }}" class="swiper-container">
    <div class="swiper-wrapper">
      {% for banner in banners %}
      <div class="swiper-slide text-center">
        {% if banner.link %}
        <a href="{{ banner.link }}">
          <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
        </a>
        {% else %}
        <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="swiper-pagination slideshow{{ module }}"></div>
  <div class="swiper-pager">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>

<script type="text/javascript">

$('#slideshow{{ module }}').swiper({
	mode: 'horizontal',
	slidesPerView: 1,
	pagination: '.slideshow{{ module }}',
	paginationClickable: true,
	nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    spaceBetween: 30,
	autoplay: 2500,
    autoplayDisableOnInteraction: true,
	loop: true
});

</script> -->