{{ header }}


<section class="section hero information">
  <div class="container hero__container">
    <div class="hero__sidebar sidebar">
      <button class="btn-reset sidebar__head js-sidebar-head">
        <div class="sidebar__head-icon"></div>
        <div class="sidebar__head-name">Каталог</div>
      </button>

      {{ menu }}

    </div>
    <div class="hero__content">

      <div class="breadcrumbs">
        {% for breadcrumb in breadcrumbs %}

        {% if breadcrumb == breadcrumbs|first %}
        <a href="#">
          <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="path-1-outside-1_84_10392" maskUnits="userSpaceOnUse" x="-0.0625" y="0" width="18" height="16"
              fill="black">
              <rect fill="white" x="-0.0625" width="18" height="16"></rect>
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M15.0619 9.03125L8.99968 2L2.9375 9.03125H3.99968V15H6.99962V10H10.9996V15H13.9997V9.03125H15.0619Z">
              </path>
            </mask>
            <path
              d="M8.99968 2L9.75705 1.34701L8.99968 0.468574L8.24231 1.34701L8.99968 2ZM15.0619 9.03125V10.0312H17.2444L15.8192 8.37826L15.0619 9.03125ZM2.9375 9.03125L2.18013 8.37826L0.754965 10.0312H2.9375V9.03125ZM3.99968 9.03125H4.99968V8.03125H3.99968V9.03125ZM3.99968 15H2.99968V16H3.99968V15ZM6.99962 15V16H7.99962V15H6.99962ZM6.99962 10V9H5.99962V10H6.99962ZM10.9996 10H11.9996V9H10.9996V10ZM10.9996 15H9.99962V16H10.9996V15ZM13.9997 15V16H14.9997V15H13.9997ZM13.9997 9.03125V8.03125H12.9997V9.03125H13.9997ZM8.24231 2.65299L14.3045 9.68424L15.8192 8.37826L9.75705 1.34701L8.24231 2.65299ZM3.69487 9.68424L9.75705 2.65299L8.24231 1.34701L2.18013 8.37826L3.69487 9.68424ZM3.99968 8.03125H2.9375V10.0312H3.99968V8.03125ZM2.99968 9.03125V15H4.99968V9.03125H2.99968ZM3.99968 16H6.99962V14H3.99968V16ZM7.99962 15V10H5.99962V15H7.99962ZM6.99962 11H10.9996V9H6.99962V11ZM9.99962 10V15H11.9996V10H9.99962ZM10.9996 16H13.9997V14H10.9996V16ZM14.9997 15V9.03125H12.9997V15H14.9997ZM15.0619 8.03125H13.9997V10.0312H15.0619V8.03125Z"
              fill="#4F649A" mask="url(#path-1-outside-1_84_10392)"></path>
          </svg>
        </a>
        {% endif %}

        <a class="breadcrumbs__link  {% if breadcrumb == breadcrumbs|last %} is-active {% endif %}"
          href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
        {% if breadcrumb != breadcrumbs|last %}
        <div class="breadcrumbs__separator"></div>
        {% endif %}
        {% endfor %}
      </div>

      <!-- <div class="breadcrumbs">
        <a href="#">
          <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="path-1-outside-1_84_10392" maskUnits="userSpaceOnUse" x="-0.0625" y="0" width="18" height="16"
              fill="black">
              <rect fill="white" x="-0.0625" width="18" height="16"></rect>
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M15.0619 9.03125L8.99968 2L2.9375 9.03125H3.99968V15H6.99962V10H10.9996V15H13.9997V9.03125H15.0619Z">
              </path>
            </mask>
            <path
              d="M8.99968 2L9.75705 1.34701L8.99968 0.468574L8.24231 1.34701L8.99968 2ZM15.0619 9.03125V10.0312H17.2444L15.8192 8.37826L15.0619 9.03125ZM2.9375 9.03125L2.18013 8.37826L0.754965 10.0312H2.9375V9.03125ZM3.99968 9.03125H4.99968V8.03125H3.99968V9.03125ZM3.99968 15H2.99968V16H3.99968V15ZM6.99962 15V16H7.99962V15H6.99962ZM6.99962 10V9H5.99962V10H6.99962ZM10.9996 10H11.9996V9H10.9996V10ZM10.9996 15H9.99962V16H10.9996V15ZM13.9997 15V16H14.9997V15H13.9997ZM13.9997 9.03125V8.03125H12.9997V9.03125H13.9997ZM8.24231 2.65299L14.3045 9.68424L15.8192 8.37826L9.75705 1.34701L8.24231 2.65299ZM3.69487 9.68424L9.75705 2.65299L8.24231 1.34701L2.18013 8.37826L3.69487 9.68424ZM3.99968 8.03125H2.9375V10.0312H3.99968V8.03125ZM2.99968 9.03125V15H4.99968V9.03125H2.99968ZM3.99968 16H6.99962V14H3.99968V16ZM7.99962 15V10H5.99962V15H7.99962ZM6.99962 11H10.9996V9H6.99962V11ZM9.99962 10V15H11.9996V10H9.99962ZM10.9996 16H13.9997V14H10.9996V16ZM14.9997 15V9.03125H12.9997V15H14.9997ZM15.0619 8.03125H13.9997V10.0312H15.0619V8.03125Z"
              fill="#4F649A" mask="url(#path-1-outside-1_84_10392)"></path>
          </svg>
        </a>
        <div class="breadcrumbs__separator"></div>
        <a>Пресс системы</a>
        <div class="breadcrumbs__separator"></div>
        <span>Американки</span>
      </div> -->

      <h1 class="section-hero__title">{{ heading_title }}</h1>

      <div class="description">
        {{ description }}
      </div>
    </div>
  </div>
</section>


<section class="block-other">
  <div class="container">
    <h2 class="block-other__title h2">Рекомендуем</h2>
    <div class="swiper swiper-style products-top-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card-product">
            <div class="card-product__head">
              <div class="card-product__image">
                <div class="hvr__images">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product1.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product2.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product3.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product4.png">
                </div>
              </div>
              <div class="card-product__content-mob">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
            </div>
            <div class="card-product__body">
              <div class="card-product__content-desck">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
              <div class="card-product__line"></div>
              <div class="card-product__total">
                <div class="card-product__count">
                  <button class="btn-reset card-product__count-button card-product__count-button-decrease">
                    <svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                  <input type="number" value="1" class="card-product__count-num">
                  <button class="btn-reset card-product__count-button card-product__count-button-increase">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 6.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                      <path d="M6 1.5L6 11.5" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                </div>
                <div class="card-product__price-single"><span>69.30</span> руб</div>
              </div>
              <button class="btn-reset button2 card-product__button">В корзину</button>
              <div class="card-product__favourites">
                <div class="card-product__favourites-icon"></div>
                <span>Добавить в избранное</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-product">
            <div class="card-product__head">
              <div class="card-product__image">
                <div class="hvr__images">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product1.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product2.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product3.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product4.png">
                </div>
              </div>
              <div class="card-product__content-mob">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                  <div class="card-product__label item1">Акция</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
            </div>
            <div class="card-product__body">
              <div class="card-product__content-desck">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                  <div class="card-product__label item1">Акция</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
              <div class="card-product__line"></div>
              <div class="card-product__total">
                <div class="card-product__count">
                  <button class="btn-reset card-product__count-button card-product__count-button-decrease">
                    <svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                  <input type="number" value="1" class="card-product__count-num">
                  <button class="btn-reset card-product__count-button card-product__count-button-increase">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 6.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                      <path d="M6 1.5L6 11.5" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                </div>
                <div class="card-product__price">
                  <div class="card-product__price-old"><span>133</span> руб</div>
                  <div class="card-product__price-new"><span>119.80</span> руб</div>
                </div>
              </div>
              <button class="btn-reset button2 card-product__button">В корзину</button>
              <div class="card-product__favourites">
                <div class="card-product__favourites-icon active"></div>
                <span>Добавить в избранное</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-product">
            <div class="card-product__head">
              <div class="card-product__image">
                <div class="hvr__images">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product1.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product2.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product3.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product4.png">
                </div>
              </div>
              <div class="card-product__content-mob">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
            </div>
            <div class="card-product__body">
              <div class="card-product__content-desck">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
              <div class="card-product__line"></div>
              <div class="card-product__total">
                <div class="card-product__count">
                  <button class="btn-reset card-product__count-button card-product__count-button-decrease">
                    <svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                  <input type="number" value="1" class="card-product__count-num">
                  <button class="btn-reset card-product__count-button card-product__count-button-increase">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 6.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                      <path d="M6 1.5L6 11.5" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                </div>
                <div class="card-product__price-single"><span>69.30</span> руб</div>
              </div>
              <button class="btn-reset button2 card-product__button">В корзину</button>
              <div class="card-product__favourites">
                <div class="card-product__favourites-icon"></div>
                <span>Добавить в избранное</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-product">
            <div class="card-product__head">
              <div class="card-product__image">
                <div class="hvr__images">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product1.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product2.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product3.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product4.png">
                </div>
              </div>
              <div class="card-product__content-mob">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
            </div>
            <div class="card-product__body">
              <div class="card-product__content-desck">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
              <div class="card-product__line"></div>
              <div class="card-product__total">
                <div class="card-product__count">
                  <button class="btn-reset card-product__count-button card-product__count-button-decrease">
                    <svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                  <input type="number" value="1" class="card-product__count-num">
                  <button class="btn-reset card-product__count-button card-product__count-button-increase">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 6.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                      <path d="M6 1.5L6 11.5" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                </div>
                <div class="card-product__price-single"><span>69.30</span> руб</div>
              </div>
              <button class="btn-reset button2 card-product__button">В корзину</button>
              <div class="card-product__favourites">
                <div class="card-product__favourites-icon"></div>
                <span>Добавить в избранное</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-product">
            <div class="card-product__head">
              <div class="card-product__image">
                <div class="hvr__images">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product1.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product2.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product3.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product4.png">
                </div>
              </div>
              <div class="card-product__content-mob">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
            </div>
            <div class="card-product__body">
              <div class="card-product__content-desck">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
              <div class="card-product__line"></div>
              <div class="card-product__total">
                <div class="card-product__count">
                  <button class="btn-reset card-product__count-button card-product__count-button-decrease">
                    <svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                  <input type="number" value="1" class="card-product__count-num">
                  <button class="btn-reset card-product__count-button card-product__count-button-increase">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 6.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                      <path d="M6 1.5L6 11.5" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                </div>
                <div class="card-product__price-single"><span>69.30</span> руб</div>
              </div>
              <button class="btn-reset button2 card-product__button">В корзину</button>
              <div class="card-product__favourites">
                <div class="card-product__favourites-icon"></div>
                <span>Добавить в избранное</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-product">
            <div class="card-product__head">
              <div class="card-product__image">
                <div class="hvr__images">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product1.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product2.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product3.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product4.png">
                </div>
              </div>
              <div class="card-product__content-mob">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
            </div>
            <div class="card-product__body">
              <div class="card-product__content-desck">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
              <div class="card-product__line"></div>
              <div class="card-product__total">
                <div class="card-product__count">
                  <button class="btn-reset card-product__count-button card-product__count-button-decrease">
                    <svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                  <input type="number" value="1" class="card-product__count-num">
                  <button class="btn-reset card-product__count-button card-product__count-button-increase">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 6.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                      <path d="M6 1.5L6 11.5" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                </div>
                <div class="card-product__price-single"><span>69.30</span> руб</div>
              </div>
              <button class="btn-reset button2 card-product__button">В корзину</button>
              <div class="card-product__favourites">
                <div class="card-product__favourites-icon"></div>
                <span>Добавить в избранное</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-product">
            <div class="card-product__head">
              <div class="card-product__image">
                <div class="hvr__images">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product1.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product2.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product3.png">
                  <img class="hvr__image" src="/image/catalog/assets/img/products/product4.png">
                </div>
              </div>
              <div class="card-product__content-mob">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
            </div>
            <div class="card-product__body">
              <div class="card-product__content-desck">
                <div class="card-product__check">
                  <div class="card-product__status item1">В наличии</div>
                </div>
                <div class="card-product__name1">APE</div>
                <a href="#" class="card-product__name2">Пресс угловой с креплением ½×20 APE
                  5/80</a>
                <div class="card-product__articles">Арт. 5678909</div>
              </div>
              <div class="card-product__line"></div>
              <div class="card-product__total">
                <div class="card-product__count">
                  <button class="btn-reset card-product__count-button card-product__count-button-decrease">
                    <svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                  <input type="number" value="1" class="card-product__count-num">
                  <button class="btn-reset card-product__count-button card-product__count-button-increase">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 6.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                      <path d="M6 1.5L6 11.5" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                  </button>
                </div>
                <div class="card-product__price-single"><span>69.30</span> руб</div>
              </div>
              <button class="btn-reset button2 card-product__button">В корзину</button>
              <div class="card-product__favourites">
                <div class="card-product__favourites-icon"></div>
                <span>Добавить в избранное</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev products-swiper__swiper-button-prev"></div>
      <div class="swiper-button-next products-swiper__swiper-button-next"></div>
      <div class="swiper-scrollbar products-swiper__swiper-scrollbar"></div>
    </div>
  </div>
</section>


{{ footer }}



<script type="text/javascript">
  function formValidate() {
    $('#visionСheck').validate({
      rules: {
        name: {
          required: true,
          minlength: 4,
        },
        phone: {
          required: true,
          minlength: 11,
        }
      },
      messages: {
        name: {
          required: "Поле не заполнено",
          minlength: "Минимальное количество символов: 3"
        },
        phone: {
          required: "Поле не заполнено",
          minlength: "Минимальное количество символов: 11"
        }
      },
      errorPlacement: function (error, element) {
        error.appendTo(element.parent(".input_wrapper").next("p"));
      }
    });
  };
  formValidate();
  jQuery("#visionСheck").submit(function () {
    let form = jQuery(this);
    let name = jQuery(this).find('input[name="name"]');
    let phone = jQuery(this).find('input[name="phone"]');

    if ($('.input_wrapper__input').hasClass('error')) {
      phone.parent().addClass('not-valid');
      name.parent().addClass('not-valid');
    } else {
      $('.modal_page-form').css('display', 'none');
      $('.modal_page-success').css('display', 'block');
      jQuery.ajax({
        type: "POST",
        url: "index.php?route=mail/sendemail/send_form",
        data: form.serialize(),
        dataType: 'json',
        success: function (json) {
          if (json['error']) {
            message.html(json['error']);
          }
          if (json['success']) {
            phone.parent().removeClass('not-valid');
            name.parent().removeClass('not-valid');
          }
        }
      });
      return false;
    }
  });
</script>