{{ header }}

<section class="account">
  <div class="account__column">
    <div class="account__column_wrap">
      <div class="account__breadcrumbs breadcrumbs">
        {% for breadcrumb in breadcrumbs %}
        <a class="breadcrumbs__link  {% if breadcrumb == breadcrumbs|last %} is-active {% endif %}"
          href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
        {% if breadcrumb != breadcrumbs|last %}
        <span class="slash">/</span>
        {% endif %}
        {% endfor %}
      </div>
      <h1 class="section_block__title">{{ heading_title }}</h1>
    </div>
    <div class="account__tabs">
      <a class="account__tab" href="{{ order }}">
        <svg class="icon_main">
          <use xlink:href="#acc_icon_1"></use>
        </svg><span class="text text--desk">история заказов</span><span class="text text--mob">заказы</span>
        <svg class="icon_arrow">
          <use xlink:href="#link_arrow"></use>
        </svg>
      </a>
      <a class="account__tab" href="{{ edit }}">
        <svg class="icon_main">
          <use xlink:href="#acc_icon_2"></use>
        </svg><span class="text text--desk">личные данные</span><span class="text text--mob">данные</span>
        <svg class="icon_arrow">
          <use xlink:href="#link_arrow"></use>
        </svg>
      </a>
      <a class="account__tab is-active" href="{{ password }}">
        <svg class="icon_main">
          <use xlink:href="#acc_icon_3"></use>
        </svg><span class="text text--desk">доп. информация</span><span class="text text--mob">аккаунт</span>
        <svg class="icon_arrow">
          <use xlink:href="#link_arrow"></use>
        </svg>
      </a>
      <a href="/index.php?route=account/logout" class="account__btn_leave">
        <svg class="icon_main">
          <use xlink:href="#acc_icon_4"></use>
        </svg><span class="text text--desk">выйти из аккаунта</span><span class="text text--mob">выход</span>
      </a>
    </div>
  </div>
  <div class="account__content">
    {% if success %}
    <div class="alert alert-success alert-dismissible" style="margin-bottom: 20px;"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    <h2 class="section_block__title section_block__title--small" style="margin-bottom: 20px;">Дополнительная информация</h2>
    <!-- <div class="account_additional_info__content">
      <p class="account_additional_info__caption">Удаление аккаунта</p>
      <p class="account_additional_info__text">Если вы хотите покинуть нас — вы можете удалить аккаунт. У вас будет 30
        дней до восстановления. В противном случае, все ваши данные безвозвратно удалятся.</p>
      <button class="account_additional_info__btn btn btn--grey" data-linked-modal="modal_delete_account">
        <span class="btn__text">удалить аккаунт</span>
      </button>
    </div> -->

    <p class="account_additional_info__caption">{{ heading_title }}</p>
    

    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
      <div class="account_personal_info__content">
        <div class="account_personal_info__inputs">

          <div class="account_personal_info__wrap">
            <p class="account_personal_info__caption">{{ entry_password }}</p>
            <div class="input_wrapper input_wrapper--outlined" data-input-wrapper="">
              <input class="input_wrapper__input" type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}">
            </div>
          </div>
          <div class="account_personal_info__wrap">
            <p class="account_personal_info__caption">{{ entry_confirm }}</p>
            <div class="input_wrapper input_wrapper--outlined" data-input-wrapper="">
              <input class="input_wrapper__input" type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}">
            </div>
          </div>
          
        </div>

        <input type="submit" value="{{ button_continue }}" class="account_personal_info__btn btn btn--filled" />

      </div>
    </form>

  </div>
</section>



{{ footer }}