{{ header }}


<section class="catalog">
    <div class="container catalog__container">
        <div class="catalog-filter js-catalog-filter">
            <div class="catalog-filter__link-block">
                <button
                    class="btn-reset catalog-filter__link-head button-link-head js-catalog-filter-close">Назад</button>
            </div>
            <div class="catalog-filter__inner">
                <div class="catalog-filter__name">Фильтр</div>
                <div class="catalog-filter__items">
                    <div class="catalog-filter__item">
                        <button class="btn-reset catalog-filter__item-name js-catalog-filter-name">Цена, BYN</button>
                        <div class="catalog-filter__item-content js-catalog-filter-content">
                            <div id="slider-range" class="slider-price">
                                <input type="text" id="slider-price-min" class="slider-price-min form__input"
                                    value="1000">
                                <input type="text" id="slider-price-max" class="slider-price-max form__input"
                                    value="9000">
                            </div>
                            <div id="slider-price-count" class="slider-price-count"></div>
                        </div>
                    </div>
                    <div class="catalog-filter__item">
                        <button
                            class="btn-reset catalog-filter__item-name js-catalog-filter-name">Производитель</button>
                        <div class="catalog-filter__item-content js-catalog-filter-content">
                            <div class="catalog-filter__form-check form-check">
                                <input class="form-check-input custom-checkbox" type="checkbox" value="ITAP" id="ITAP">
                                <label class="form-check-label" for="ITAP">ITAP</label>
                            </div>
                            <div class="catalog-filter__form-check form-check">
                                <input class="form-check-input custom-checkbox" type="checkbox" value="Wiega"
                                    id="Wiega">
                                <label class="form-check-label" for="Wiega">Wiega</label>
                            </div>
                            <div class="catalog-filter__form-check form-check">
                                <input class="form-check-input custom-checkbox" type="checkbox" value="General Fittings"
                                    id="General Fittings">
                                <label class="form-check-label" for="General Fittings">General Fittings</label>
                            </div>
                            <div class="catalog-filter__form-check form-check">
                                <input class="form-check-input custom-checkbox" type="checkbox" value="Wester"
                                    id="Wester">
                                <label class="form-check-label" for="Wester">Wester</label>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-filter__item">
                        <button class="btn-reset catalog-filter__item-name js-catalog-filter-name">Вид резьбового
                            соединения</button>
                        <div class="catalog-filter__item-content js-catalog-filter-content">
                            <div class="catalog-filter__form-check form-check">
                                <input class="form-check-input custom-checkbox" type="checkbox"
                                    value="с наружной резьбой" id="с наружной резьбой">
                                <label class="form-check-label" for="с наружной резьбой">с наружной резьбой</label>
                            </div>
                            <div class="catalog-filter__form-check form-check">
                                <input class="form-check-input custom-checkbox" type="checkbox"
                                    value="с внутренней и наружной резьбой" id="с внутренней и наружной резьбой">
                                <label class="form-check-label" for="с внутренней и наружной резьбой">с внутренней и
                                    наружной резьбой</label>
                            </div>
                            <div class="catalog-filter__form-check form-check">
                                <input class="form-check-input custom-checkbox" type="checkbox"
                                    value="с внутренней резьбой" id="с внутренней резьбой">
                                <label class="form-check-label" for="с внутренней резьбой">с внутренней резьбой</label>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-filter__item">
                        <button class="btn-reset catalog-filter__item-name js-catalog-filter-name">Тип</button>
                        <div class="catalog-filter__item-content js-catalog-filter-content">
                            <div class="catalog-filter__form-check form-check">
                                <input class="form-check-input custom-checkbox" type="checkbox" value="тип1" id="тип1">
                                <label class="form-check-label" for="тип1">тип1</label>
                            </div>
                            <div class="catalog-filter__form-check form-check">
                                <input class="form-check-input custom-checkbox" type="checkbox" value="тип2" id="тип2">
                                <label class="form-check-label" for="тип2">тип2</label>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-filter__item">
                        <button class="btn-reset catalog-filter__item-name js-catalog-filter-name">Диаметр
                            резьбы</button>
                        <div class="catalog-filter__item-content js-catalog-filter-content">
                            <div class="catalog-filter__form-check form-check">
                                <input class="form-check-input custom-checkbox" type="checkbox" value="Диаметр резьбы1"
                                    id="Диаметр резьбы1">
                                <label class="form-check-label" for="Диаметр резьбы1">Диаметр резьбы1</label>
                            </div>
                            <div class="catalog-filter__form-check form-check">
                                <input class="form-check-input custom-checkbox" type="checkbox" value="Диаметр резьбы2"
                                    id="Диаметр резьбы2">
                                <label class="form-check-label" for="Диаметр резьбы2">Диаметр резьбы2</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-filter__buttons">
                    <button class="btn-reset button2 catalog-filter__button1">Применить</button>
                    <button class="btn-reset button-clear catalog-filter__button2">Очистить фильтр</button>
                </div>
            </div>
        </div>
        <div class="catalog-content">
            <div class="breadcrumbs">
                {% for breadcrumb in breadcrumbs %}
                    {% if breadcrumb == breadcrumbs|first %}
                    <a href="#">
                    <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="path-1-outside-1_84_10392" maskUnits="userSpaceOnUse" x="-0.0625" y="0" width="18" height="16"
                        fill="black">
                        <rect fill="white" x="-0.0625" width="18" height="16"></rect>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M15.0619 9.03125L8.99968 2L2.9375 9.03125H3.99968V15H6.99962V10H10.9996V15H13.9997V9.03125H15.0619Z">
                        </path>
                        </mask>
                        <path
                        d="M8.99968 2L9.75705 1.34701L8.99968 0.468574L8.24231 1.34701L8.99968 2ZM15.0619 9.03125V10.0312H17.2444L15.8192 8.37826L15.0619 9.03125ZM2.9375 9.03125L2.18013 8.37826L0.754965 10.0312H2.9375V9.03125ZM3.99968 9.03125H4.99968V8.03125H3.99968V9.03125ZM3.99968 15H2.99968V16H3.99968V15ZM6.99962 15V16H7.99962V15H6.99962ZM6.99962 10V9H5.99962V10H6.99962ZM10.9996 10H11.9996V9H10.9996V10ZM10.9996 15H9.99962V16H10.9996V15ZM13.9997 15V16H14.9997V15H13.9997ZM13.9997 9.03125V8.03125H12.9997V9.03125H13.9997ZM8.24231 2.65299L14.3045 9.68424L15.8192 8.37826L9.75705 1.34701L8.24231 2.65299ZM3.69487 9.68424L9.75705 2.65299L8.24231 1.34701L2.18013 8.37826L3.69487 9.68424ZM3.99968 8.03125H2.9375V10.0312H3.99968V8.03125ZM2.99968 9.03125V15H4.99968V9.03125H2.99968ZM3.99968 16H6.99962V14H3.99968V16ZM7.99962 15V10H5.99962V15H7.99962ZM6.99962 11H10.9996V9H6.99962V11ZM9.99962 10V15H11.9996V10H9.99962ZM10.9996 16H13.9997V14H10.9996V16ZM14.9997 15V9.03125H12.9997V15H14.9997ZM15.0619 8.03125H13.9997V10.0312H15.0619V8.03125Z"
                        fill="#4F649A" mask="url(#path-1-outside-1_84_10392)"></path>
                    </svg>
                    </a>
                    {% endif %}

                    <a class="breadcrumbs__link  {% if breadcrumb == breadcrumbs|last %} is-active {% endif %}"
                    href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                    {% if breadcrumb != breadcrumbs|last %}
                    <div class="breadcrumbs__separator"></div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="catalog-content__buttons">
                <button class="btn-reset catalog-content__filters js-filters">
                    <span>Фильтры</span>
                    <img loading="lazy" src="img/icon/icon-filters.svg" class="image" width="" height="" alt="">
                </button>

                <!-- {% for s in sorts %}
                    {% if (s.code == sort) %}
                        <a href="{{ s.href }}"
                            class="news__sort_btn btn btn--grey btn--icon_right head_sorting-variant current-sort {% if order == 'ASC' %} sort_1{% else %} sort_2{% endif %}">
                            <span class="btn__text">
                                {% if order == 'ASC' %} сначала дорогие{% else %} сначала дешевые{% endif %}
                            </span>
                            <svg class="btn__icon btn__icon--black btn__icon--right">
                                <use xlink:href="#icon_sort"></use>
                            </svg>
                        </a>
                    {% endif %}
                {% endfor %} -->

                {% if sorts|length > 0 and products|length > 0 %}
        <div class="products-head_sorting">
            <div class="head_sorting-list">
                {% for s in sorts %}
                {% if (s.code == sort) %}
                <a href="{{ s.href }}"
                    class="news__sort_btn btn btn--grey btn--icon_right head_sorting-variant current-sort {% if order == 'ASC' %}sort_1{% else %}sort_2{% endif %}">
                    <span class="btn__text">{{ s.text }}</span>
                    <span class="sort-arr btn__icon btn__icon--black btn__icon--right">
                        <svg class="btn__icon btn__icon--black btn__icon--right">
                            <use xlink:href="#icon_sort"></use>
                        </svg>
                    </span>
                </a>
                {% else %}
                <a href="{{ s.href }}" class="head_sorting-variant">
                    <span>{{ s.text }}</span>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}

                <div class="catalog-content__sort">
                    <label for="speed"></label>
                    <select name="speed" id="speed" class="catalog-content__sort-button">
                        <option selected="selected">По популярности</option>
                        <option>С дешевых</option>
                        <option>С дорогих</option>
                    </select>
                </div>
            </div>

            <div class="swiper-style catalog-content__items">
                {% for product in products %}
                    <div class="card-product">
                        <div class="card-product__head">
                            <div class="card-product__image">
                                <div class="hvr__images">
                                    <img class="hvr__image" src="{{ product.thumb }}" alt="{{ heading_title }}">
                                    {% for img in product.imgDop %}
                                        <img class="hvr__image" src="{{ img.thumb }}" alt="{{ heading_title }}">
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="card-product__content-mob">
                                <div class="card-product__check">
                                    {% if product.stock == 'В наличии' %}
                                        <div class="card-product__status item1">В наличии</div>
                                        {% elseif product.stock == 'Нет в наличии' %}
                                        <div class="ard-product__status">Нет в наличии</div>
                                        {% elseif product.stock == 'Ожидание 2-3 дня' %}
                                        <div class="ard-product__status">Ожидание 2-3 дня</div>
                                        {% elseif product.stock == 'Предзаказ' %}
                                        <div class="ard-product__status">Предзаказ</div>
                                    {% endif %}
                                </div>
                                <div class="card-product__name1">{{ product.model }}</div>
                                <a href="{{ product.href }}" class="card-product__name2">{{ product.name }}</a>
                                {% if product.sku %}
                                    <div class="card-product__articles">Арт. {{ product.sku }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-product__body">
                            <div class="card-product__content-desck">
                                <div class="card-product__check">
                                    {% if product.stock == 'В наличии' %}
                                        <div class="card-product__status item1">В наличии</div>
                                        {% elseif product.stock == 'Нет в наличии' %}
                                        <div class="ard-product__status">Нет в наличии</div>
                                        {% elseif product.stock == 'Ожидание 2-3 дня' %}
                                        <div class="ard-product__status">Ожидание 2-3 дня</div>
                                        {% elseif product.stock == 'Предзаказ' %}
                                        <div class="ard-product__status">Предзаказ</div>
                                    {% endif %}
                                </div>
                                <div class="card-product__name1">{{ product.model }}</div>
                                <a href="{{ product.href }}" class="card-product__name2">{{ product.name }}</a>
                                {% if product.sku %}
                                    <div class="card-product__articles">Арт. {{ product.sku }}</div>
                                {% endif %}
                            </div>
                            <div class="card-product__line"></div>
                            <div class="card-product__total">
                                <div class="card-product__count">
                                    <button
                                        class="btn-reset card-product__count-button card-product__count-button-decrease">
                                        <svg width="12" height="3" viewBox="0 0 12 3" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 1.5H11" stroke="#919191" stroke-width="1.5"
                                                stroke-linecap="round" />
                                        </svg>
                                    </button>
                                    <input type="number" value="1" class="card-product__count-num">
                                    <button
                                        class="btn-reset card-product__count-button card-product__count-button-increase">
                                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 6.5H11" stroke="#919191" stroke-width="1.5"
                                                stroke-linecap="round" />
                                            <path d="M6 1.5L6 11.5" stroke="#919191" stroke-width="1.5"
                                                stroke-linecap="round" />
                                        </svg>
                                    </button>
                                </div>
                                {% if product.special %}
                                    <div class="card-product__price">
                                        <div class="card-product__price-old"><span>{{ product.price }}</span> руб</div>
                                        <div class="card-product__price-new"><span>{{ product.special }}</span> руб</div>
                                    </div>
                                {% else %}
                                    <div class="card-product__price-single"><span>{{ product.price }}</span> руб</div>
                                {% endif %}
                            </div>
                            {% if theme_mt_category_product_cart_checked %}
                            <button class="btn-reset button2 card-product__button add-to-cart"
                                onclick="add_in_cart('{{ product.product_id }}', '{{ product.minimum }}');">{{ theme_mt_category_product_cart_text }}</button>
                            {% endif %}

                            {% if logged %}
                                <button class="btn-reset card-product__favourites"
                                onclick="{% if product.in_wishlist %}wishlist_remove('{{ product.product_id }}');{% else %}wishlist_add('{{ product.product_id }}');{% endif %} return false;"
                                {% if not logged %}data-login="false" {% else %}data-login="true" {% endif %}>
                                <div class="card-product__favourites-icon {% if product.in_wishlist %} active{% endif %}"></div>
                                <span>Добавить в избранное</span>
                                </button>
                            {% else %}
                                <button class="btn-reset card-product__favourites" data-graph-path="modal1">
                                <div class="card-product__favourites-icon"></div>
                                <span>Добавить в избранное</span>
                                </button>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                <button class="btn-reset catalog-content__button">Показать еще</button>

                {% if pagination %}
                    {{ pagination }}
                {% endif %}

                <!-- <div class="pagination catalog-content__pagination">
                    <div class="pagination__item active">1</div>
                    <div class="pagination__item">2</div>
                    <div class="pagination__item">3</div>
                    <div class="pagination__item">4</div>
                    <div class="pagination__item">…</div>
                    <div class="pagination__item">35</div>
                </div> -->
            </div>
        </div>
    </div>
</section>



<script type="text/javascript">
    function add_in_cart(product_id) {
        var btn = this;
        var quantity = $('#input-quantity' + product_id).val();
        $.ajax({
            url: 'index.php?route=checkout/cart/add',
            type: 'post',
            data: 'product_id=' + product_id + '&quantity=' + (typeof (quantity) != 'undefined' ? quantity : 1),
            dataType: 'json',
            success: function (json) {

                if (json['redirect']) {
                    location = json['redirect'];
                }

                if (json['success']) {
                    if ($("#cart_added").hasClass('notify_action')) {
                        $('#cart_added').removeClass('notify_action');
                    }
                    $(document).find('#cart_added').addClass('notify_action').css('top', 90 + 'px');
                    active_notify();
                    $(btn).html('В корзине');
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }
</script>


{{ footer }}