{{ header }}

<section class="catalog_inner">
    <div class="catalog__breadcrumbs breadcrumbs">
        {% for breadcrumb in breadcrumbs %}
        <a class="breadcrumbs__link  {% if breadcrumb == breadcrumbs|last %} is-active {% endif %}"
            href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
        {% if breadcrumb != breadcrumbs|last %}
        <span class="slash">/</span>
        {% endif %}
        {% endfor %}
    </div>
    <h1 class="section_block__title">{{ heading_title }}</h1>

    {% if theme_mt_category_subcategory and top_categories|length > 0 %}
    <!-- <div class="catalog_inner__categories">
        {% for category in top_categories %}
        <a href="{{ category.href }}" class="catalog_inner__cat_btn">{{ category.name }}</a>
        {% endfor %}
    </div> -->
    {% endif %}


    {% if categoriesCat %}
    <div class="catalog_inner__categories">
        {% for childcategory in categoriesCat %}
            <!-- <a href="{{childcategory.href}}" class="catalog_inner__cat_btn">{{ childcategory.name }}</a> -->
            {% if childcategory.children %}
                {% for childrentwo in childcategory.children %}
                    <a href="{{ childrentwo.href }}" class="catalog_inner__cat_btn">{{ childrentwo.name }}</a>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}


    <div class="catalog_inner__buttons">
        <button class="catalog_inner__filter_btn news__sort_btn btn btn--filled btn--icon_right"
            data-filter-btn=""><span class="btn__text">фильтрация</span>
            <svg class="btn__initial btn__icon btn__icon--white btn__icon--right">
                <use xlink:href="#icon_filter"></use>
            </svg>
            <svg class="btn__clicked btn__icon btn__icon--black btn__icon--left">
                <use xlink:href="#icon_cross"></use>
            </svg>
        </button>

        <!-- <button class="news__sort_btn btn btn--grey btn--icon_right" data-sort-btn="">
            <span class="btn__text">сначала дорогие</span>
            <svg class="btn__icon btn__icon--black btn__icon--right">
                <use xlink:href="#icon_sort"></use>
            </svg>
        </button> -->

        {% for s in sorts %}
            {% if (s.code == sort) %}
            <a href="{{ s.href }}"
                class="news__sort_btn btn btn--grey btn--icon_right head_sorting-variant current-sort {% if order == 'ASC' %} sort_1{% else %} sort_2{% endif %}">
                <span class="btn__text">
                    {% if order == 'ASC' %} сначала дорогие{% else %} сначала дешевые{% endif %}
                </span>
                <svg class="btn__icon btn__icon--black btn__icon--right">
                    <use xlink:href="#icon_sort"></use>
                </svg>
            </a>
            {% else %}
            <!-- <a href="{{ s.href }}" class="news__sort_btn btn btn--grey btn--icon_right head_sorting-variant">
                <span class="btn__text">{{ s.text }}</span>
                <svg class="btn__icon btn__icon--black btn__icon--right">
                    <use xlink:href="#icon_sort"></use>
                </svg>
            </a> -->
            {% endif %}
        {% endfor %}
    </div>

    <div class="catalog_inner__content">
        <div class="catalog_filters">
            <div class="catalog_filters_aside">
                <div class="catalog_filters_aside__top">
                    <svg class="icon">
                        <use xlink:href="#arrow_back"></use>
                    </svg>
                    <p class="catalog_filters__title catalog_filters__title--nopad">Бренд</p>
                    <button class="catalog_filters_aside__reset_btn">Сбросить всё</button>
                </div>
                <div class="catalog_filters_aside__content">
                   <!-- <div class="catalog_filters_aside_range" data-range-block="">
                        <p class="catalog_filters_aside_range__caption">Длина заушника (в мм)</p>
                        <div class="catalog_filters_aside_range__inputs">
                            <div class="input_wrapper input_wrapper--outlined">
                                <input class="input_wrapper__input input_wrapper__input--left" type="text"
                                    name="parametr" data-input-left="">
                            </div>
                            <div class="input_wrapper input_wrapper--outlined">
                                <input class="input_wrapper__input input_wrapper__input--right" type="text"
                                    name="parametr" data-input-right="">
                            </div>
                        </div>
                        <div class="catalog_filters_aside_range__slider" data-range-slider=""></div>
                    </div>
                    <div class="catalog_filters_aside_range" data-range-block="">
                        <p class="catalog_filters_aside_range__caption">Диаметр линзы (в мм)</p>
                        <div class="catalog_filters_aside_range__inputs">
                            <div class="input_wrapper input_wrapper--outlined">
                                <input class="input_wrapper__input input_wrapper__input--left" type="text"
                                    name="parametr" data-input-left="">
                            </div>
                            <div class="input_wrapper input_wrapper--outlined">
                                <input class="input_wrapper__input input_wrapper__input--right" type="text"
                                    name="parametr" data-input-right="">
                            </div>
                        </div>
                        <div class="catalog_filters_aside_range__slider" data-range-slider=""></div>
                    </div>-->
                    <div class="catalog_filters_aside_range" data-range-block="">
                        <p class="catalog_filters_aside_range__caption">Ширина переносицы (в мм)</p>
                        <div class="catalog_filters_aside_range__inputs">
                            <div class="input_wrapper input_wrapper--outlined">
                                <input class="input_wrapper__input input_wrapper__input--left" type="text"
                                    name="parametr" data-input-left="">
                            </div>
                            <div class="input_wrapper input_wrapper--outlined">
                                <input class="input_wrapper__input input_wrapper__input--right" type="text"
                                    name="parametr" data-input-right="">
                            </div>
                        </div>
                        <div class="catalog_filters_aside_range__slider" data-range-slider=""></div>
                    </div>
                </div>
                <button class="catalog_filters__bottom_btn catalog_filters__bottom_btn--aside btn btn--filled"><span
                        class="btn__text">применить</span></button>
            </div>
            <div class="catalog_filters__block">
                <button class="catalog_filters__close" data-filters-close="">
                    <svg class="icon">
                        <use xlink:href="#icon_cross"></use>
                    </svg>
                </button>
                <p class="catalog_filters__title">Фильтрация</p>
                <div class="catalog_filters__wrap">
                    {{ column_right }}
                    <!--<div class="catalog_filters__buttons">
                        <button class="catalog_filters__main_btn">
                            <div class="text">бренд</div>
                            <svg class="icon">
                                <use xlink:href="#link_arrow"></use>
                            </svg>
                        </button>
                        <button class="catalog_filters__main_btn">
                            <div class="text">страна</div>
                            <svg class="icon">
                                <use xlink:href="#link_arrow"></use>
                            </svg>
                        </button>
                        <button class="catalog_filters__main_btn">
                            <div class="text">пол</div>
                            <svg class="icon">
                                <use xlink:href="#link_arrow"></use>
                            </svg>
                        </button>
                        <button class="catalog_filters__main_btn">
                            <div class="text">возраст</div>
                            <svg class="icon">
                                <use xlink:href="#link_arrow"></use>
                            </svg>
                        </button>
                        <button class="catalog_filters__main_btn">
                            <div class="text">форма оправы</div>
                            <svg class="icon">
                                <use xlink:href="#link_arrow"></use>
                            </svg>
                        </button>
                        <button class="catalog_filters__main_btn">
                            <div class="text">цвет оправы</div>
                            <svg class="icon">
                                <use xlink:href="#link_arrow"></use>
                            </svg>
                        </button>
                        <button class="catalog_filters__main_btn">
                            <div class="text">материал оправы</div>
                            <svg class="icon">
                                <use xlink:href="#link_arrow"></use>
                            </svg>
                        </button>
                    </div>-->
                    <!--<div class="catalog_filters_sort">
                        <label class="catalog_filters_sort__label">
                            <input class="radio" type="radio" name="product_sort" value="" hidden="">
                            <div class="catalog_filters_sort__radio">
                                <svg class="icon">
                                    <use xlink:href="#checkmark"></use>
                                </svg>
                            </div>
                            <p class="catalog_filters_sort__text">Новинка</p>
                        </label>
                        <label class="catalog_filters_sort__label">
                            <input class="radio" type="radio" name="product_sort" value="" hidden="">
                            <div class="catalog_filters_sort__radio">
                                <svg class="icon">
                                    <use xlink:href="#checkmark"></use>
                                </svg>
                            </div>
                            <p class="catalog_filters_sort__text">Акция</p>
                        </label>
                        <label class="catalog_filters_sort__label">
                            <input class="radio" type="radio" name="product_sort" value="" hidden="">
                            <div class="catalog_filters_sort__radio">
                                <svg class="icon">
                                    <use xlink:href="#checkmark"></use>
                                </svg>
                            </div>
                            <p class="catalog_filters_sort__text">Хит</p>
                        </label>
                    </div>-->
                </div>
                <!--<div class="catalog_filters__bottom" data-filters-close="">
                    <button class="catalog_filters__bottom_btn btn btn--filled"><span
                            class="btn__text">применить</span></button>
                </div>-->
            </div>
        </div>
        <div class="catalog_inner__content_cards" id="catalog_inner__content_cards">
            {% for product in products %}
            <div class="hits_slide">
                <div class="hits_slide__pic" data-linked-modal="modal_card">
                    <div class="hits_slide__pic_wrap" data-hover-images="">
                        <img class="image" data-lazy data-src="{{ product.thumb }}" alt="{{ heading_title }}">
                        {% for img in product.imgDop %}
                        <img class="image" data-lazy data-src="{{ img.thumb }}" alt="{{ heading_title }}">
                        {% endfor %}
                    </div>
                    <img class="loader" data-src="/image/catalog/assets/img/loader.svg" alt="" data-lazy="" />
                    <div class="hits_slide__hover_btn btn btn--filled">Быстрый просмотр</div>
                    <button class="hits_slide__btn hits_slide__btn--mob"><img class="image image__empty"
                            data-src="/image/catalog/assets/img/icon_fav_empty.svg" alt="" data-lazy="" /><img
                            class="image image__active" data-src="/image/catalog/assets/img/icon_fav_active.svg" alt=""
                            data-lazy="" />
                    </button>
                </div>
                <a href="{{ product.href }}" class="hits_slide_mobile btn btn--filled">
                    Подробнее
                </a>
                <div class="hits_slide__info">
                    <div class="hits_slide__left" data-linked-modal="modal_card">
                        <p class="hits_slide__text hits_slide__text-name hits_slide__text--big">{{ product.name }}</p>
                        <p class="hits_slide__text">
                            {{ product.model }}
                        </p>
                        {% if product.stock == 'В наличии' %}
                        <div class="hits_slide__stock" data-color="green">В наличии</div>
                        {% elseif product.stock == 'Нет в наличии' %}
                        <div class="hits_slide__stock" data-color="red">Нет в наличии</div>
                        {% elseif product.stock == 'Ожидание 2-3 дня' %}
                        <div class="hits_slide__stock" data-color="blue">Ожидание 2-3 дня</div>
                        {% elseif product.stock == 'Предзаказ' %}
                        <div class="hits_slide__stock" data-color="blue">Предзаказ</div>
                        {% endif %}


                        <div style="display: none;">
                            {% if product.attrblock %}
                                {% for attrblockitem in product.attrblock %}
                                    {% if attrblockitem.attribute_group_id == 7 %}
                                    <div class="attrs__size">
                                        <span class="attr__size-name">{{ attrblockitem.name }}</span>
                                        {% for attributeitem in attrblockitem.attribute %}
                                        {% if attributeitem.attribute_id == 16 %}
                                        <div class="attr__size-category shir">
                                            <p class="attr__size-name">{{ attributeitem.name }}</p>
                                            <p class="attr__size-cal">{{ attributeitem.text }}</p>
                                        </div>
                                        {% endif %}
                                        {% if attributeitem.attribute_id == 13 %}
                                        <div class="attr__size-category leng">
                                            <p class="attr__size-name">{{ attributeitem.name }}</p>
                                            <p class="attr__size-cal">{{ attributeitem.text }}</p>
                                        </div>
                                        {% endif %}
                                        {% if attributeitem.attribute_id == 14 %}
                                        <div class="attr__size-category heig-lin">
                                            <p class="attr__size-name">{{ attributeitem.name }}</p>
                                            <p class="attr__size-cal">{{ attributeitem.text }}</p>
                                        </div>
                                        {% endif %}
                                        {% if attributeitem.attribute_id == 12 %}
                                        <div class="attr__size-category shir-lin">
                                            <p class="attr__size-name">{{ attributeitem.name }}</p>
                                            <p class="attr__size-cal">{{ attributeitem.text }}</p>
                                        </div>
                                        {% endif %}
                                        {% if attributeitem.attribute_id == 15 %}
                                        <div class="attr__size-category most-len">
                                            <p class="attr__size-name">{{ attributeitem.name }}</p>
                                            <p class="attr__size-cal">{{ attributeitem.text }}</p>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                    {% elseif attrblockitem.attribute_group_id == 8 %}
                                    <div class="attrs__char">
                                        <span class="attr__char-name">{{ attrblockitem.name }}</span>
                                        {% for attributeitem in attrblockitem.attribute %}
                                        <div class="attr__char-category">
                                            <p class="attr__char-name">{{ attributeitem.name }}</p>
                                            <p class="attr__char-cal">{{ attributeitem.text }}</p>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="hits_slide_option" style="display: none;">
                            {% for attrblockitem in product.attrblock %}
                                                                {% if attrblockitem.attribute_group_id == 29 %}
                                                                    {% for attributeitem in attrblockitem.attribute %}
                                                                    <div class="hits_slide_option_param">
                                                                        <span>{{ attributeitem.name }}</span>
                                                                        <a href="{{ product.hrefPiece }}{{ attributeitem.text }}"></a>
                                                                    </div>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            {% endfor %}
                        </div>


                        <a class="hits_slide__href" href="{{ product.href }}"></a>
                        <p class="hits_slide__descr" style="display: none;">{{ product.description }}</p>
                        <div class="hits_slide__price">
                            {% if product.special %}
                            <p class="hits_slide__text normal"> <text>{{ product.special }}</text> RUB</p>
                            <p class="hits_slide__text old"><text>{{ product.price }}</text> RUB</p>
                            {% else %}
                            <p class="hits_slide__text normal"> <text>{{ product.price }}</text> RUB</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hits_slide__right">

                        <!-- {% if theme_mt_category_product_cart_checked %}
                        <button class="button add-to-cart"
                            onclick="add_in_cart('{{ product.product_id }}', '{{ product.minimum }}');">{{ theme_mt_category_product_cart_text }}</button>
                        {% endif %} -->

                        {% if product.stock == 'В наличии' %}
                        {% if theme_mt_category_product_cart_checked %}
                        <button class="hits_slide__btn add-to-cart {% if product.in_cart %} added{% endif %}"
                            id="add-to-cart"
                            onclick="add_in_cart('{{ product.product_id }}', '{{ product.minimum }}'); return false;">
                            {% if theme_mt_category_product_cart_text %}
                            <img class="image image__empty" data-src="/image/catalog/assets/img/icon_cart_empty.svg"
                                alt="" data-lazy="" />
                            <img class="image image__active" data-src="/image/catalog/assets/img/icon_cart_active.svg"
                                alt="" data-lazy="" />
                            {% else %}
                            {{ theme_mt_category_product_cart_text }}
                            {% endif %}
                        </button>
                        {% endif %}
                        {% endif %}

                        {% if logged %}
                            {% if theme_mt_category_product_wishlist_checked %}
                            <button class="hits_slide__btn add-wish {% if product.in_wishlist %} added{% endif %}"
                                onclick="{% if product.in_wishlist %}wishlist_remove('{{ product.product_id }}');{% else %}wishlist_add('{{ product.product_id }}');{% endif %} return false;"
                                {% if not logged %}data-login="false" {% else %}data-login="true" {% endif %}>
                                <img class="image image__empty" data-src="/image/catalog/assets/img/icon_fav_empty.svg"
                                    alt="" data-lazy="" />
                                <img class="image image__active" data-src="/image/catalog/assets/img/icon_fav_active.svg"
                                    alt="" data-lazy="" />
                            </button>
                        {% endif %}
                        {% else %} 
                        <button class="hits_slide__btn showNoLogin" data-linked-modal="modal_wishlistErr">
                            <img class="image image__empty" data-src="/image/catalog/assets/img/icon_fav_empty.svg" alt="" data-lazy="" />
                            <img class="image image__active" data-src="/image/catalog/assets/img/icon_fav_active.svg" alt="" data-lazy="" />
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- <div class="catalog_inner__pagination pagination">
        <button class="pagination__btn_more btn btn--grey"><span class="btn__text">Показать ещё</span></button>

         <div class="pagination__wrap">
            <button class="pagination__num is-active">1</button>
            <button class="pagination__num">2</button>
            <button class="pagination__num">3</button>
            <button class="pagination__num">...</button>
            <button class="pagination__num">12</button>
        </div> 
    </div> -->
    {% if pagination %}
    <div class="catalog_inner__pagination pagination">
        {% if pagCustom.last != pagCustom.page %}
            <a href="{{ pagCustom.url }}" class="pagination__btn_more btn btn--grey"><span class="btn__text">Показать ещё</span></a>
        {% endif %}
        {{ pagination }}
    </div> 
    {% endif %}

    {% if theme_mt_category_subcategory and top_categories|length > 0 %}
    <div class="catalog_inner__also">
        <h2 class="section_block__title section_block__title--small">Также ищут</h2>
        <div class="catalog_inner__also_wrap">
            {% for category in top_categories %}
            <a href="{{ category.href }}" class="catalog_inner__cat_btn">{{ category.name }}</a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</section>
 
    
<section class="catalog_inner_additional">

    <p class="catalog_inner_additional__text">{{ description }}</p>
    
    <!-- <p class="catalog_inner_additional__text">Предлагаем в каталоге официального магазина выбрать солнцезащитные очки
        Chopard или оправу для зрения точно по размеру, параметрам и форме и купить с доставкой по Москве на бесплатную
        примерку (до 4-х моделей), в любой город России – до 2-х пар.</p>
    <p class="catalog_inner_additional__text">Chopard - это люксовое элитное направление в оптике, все изделия
        производят в Италии на итальянской фабрике De Rigo. В наличии представлены женские и мужские модели очков Шопард
        в которых используются декоративные элементы украшений из основной линейки продукции модного бренда. Линзы
        выполнены из оптического материала CR39 и имеют наивысшие показатели по защите глаз от вредных солнечных лучей
        UV UF, в некоторых используется прочный поликарбонат, подходит для винтовых оправ на леске.</p>
    <p class="catalog_inner_additional__text">Есть и классические оправы (с покрытием из 23-х каратного золота),
        декорированные стразами Swarovski – очень удобно сидят на лице за счет флексов и продуманного дизайна, и
        сочетают в себе изысканность ювелирной мысли основателя Луи-Уиллиса Шопарда.</p> -->
    {% if faqs %}
    <div class="catalog_inner_additional__faq">
        {% for faq in faqs %}
        <div class="faq_dropdown" data-dropdown-block="">
            <div class="faq_dropdown__top" data-dropdown-block-btn>
                <h3 class="faq_dropdown__title">{{ faq.title }}</h3>
                <svg class="icon">
                    <use xlink:href="#link_arrow"></use>
                </svg>
            </div>
            <div class="faq_dropdown__info">
                <p class="faq_dropdown__text">{{ faq.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</section>


<section class="news_section blog">
    <div class="news_section__top">
        <h2 class="section_block__title section_block__title--small">Блог</h2><a
            class="news_section__btn btn btn--grey btn--icon_right" href="/news"><span class="btn__text">перейти в
                новости</span>
            <svg class="btn__icon btn__icon--black btn__icon--right">
                <use xlink:href="#link_arrow"></use>
            </svg></a>
    </div>
    <div class="news_section__content">
        {% for result in news %}
        <a class="news_section_card" href="{{ result.href }}">
            <div class="news_section_card__img desktop">
                <picture class="image">
                    <source data-lazy="data-lazy" data-srcset="{{ result.thumb }}"
                        type="image/webp" />
                    <source data-lazy="data-lazy" data-srcset="{{ result.thumb }}"
                        type="image/jpg" /><img class="image" data-lazy="data-lazy"
                        data-src="{{ result.thumb }}" alt="" />
                </picture>
            </div>
            <div class="news_section_card__img mobile">
                <picture class="image">
                    <source data-lazy="data-lazy" data-srcset="{{ result.thumb_adaptive }}"
                        type="image/webp" />
                    <source data-lazy="data-lazy" data-srcset="{{ result.thumb_adaptive }}"
                        type="image/jpg" /><img class="image" data-lazy="data-lazy"
                        data-src="{{ result.thumb_adaptive }}" alt="" />
                </picture>
            </div>
            <p class="news_section_card__date">{{ result.date }}</p>
            <p class="news_card__title">{{ result.name }}</p>
            <p class="news_section_card__text">{{ result.intro }}</p>
        </a>
        {% endfor %}
        <!--<a class="news_section_card" href="/news_card">
            <div class="news_section_card__img">
                <picture class="image">
                    <source data-lazy="data-lazy" data-srcset="/image/catalog/assets/img/news_pic_1.webp"
                        type="image/webp" />
                    <source data-lazy="data-lazy" data-srcset="/image/catalog/assets/img/news_pic_1.jpg"
                        type="image/jpg" /><img class="image" data-lazy="data-lazy"
                        data-src="/image/catalog/assets/img/news_pic_1.jpg" alt="" />
                </picture>
            </div>
            <p class="news_section_card__text">Вы их искали: прямые черные брюки, как у Кайи Гербер</p>
            <p class="news_section_card__date">8 марта, 2023</p>
        </a>
        <a class="news_section_card" href="/news_card">
            <div class="news_section_card__img">
                <picture class="image">
                    <source data-lazy="data-lazy" data-srcset="/image/catalog/assets/img/news_pic_1.webp"
                        type="image/webp" />
                    <source data-lazy="data-lazy" data-srcset="/image/catalog/assets/img/news_pic_1.jpg"
                        type="image/jpg" /><img class="image" data-lazy="data-lazy"
                        data-src="/image/catalog/assets/img/news_pic_1.jpg" alt="" />
                </picture>
            </div>
            <p class="news_section_card__text">Вы их искали: прямые черные брюки, как у Кайи Гербер</p>
            <p class="news_section_card__date">8 марта, 2023</p>
        </a>
        <a class="news_section_card" href="/news_card">
            <div class="news_section_card__img">
                <picture class="image">
                    <source data-lazy="data-lazy" data-srcset="/image/catalog/assets/img/news_pic_1.webp"
                        type="image/webp" />
                    <source data-lazy="data-lazy" data-srcset="/image/catalog/assets/img/news_pic_1.jpg"
                        type="image/jpg" /><img class="image" data-lazy="data-lazy"
                        data-src="/image/catalog/assets/img/news_pic_1.jpg" alt="" />
                </picture>
            </div>
            <p class="news_section_card__text">Вы их искали: прямые черные брюки, как у Кайи Гербер</p>
            <p class="news_section_card__date">8 марта, 2023</p>
        </a>-->
    </div>
</section>


<script type="text/javascript">
    function add_in_cart(product_id) {
        var btn = this;
        var quantity = $('#input-quantity' + product_id).val();
        $.ajax({
            url: 'index.php?route=checkout/cart/add',
            type: 'post',
            data: 'product_id=' + product_id + '&quantity=' + (typeof (quantity) != 'undefined' ? quantity : 1),
            dataType: 'json',
            success: function (json) {

                if (json['redirect']) {
                    location = json['redirect'];
                }

                if (json['success']) {
                    if ($("#cart_added").hasClass('notify_action')) {
                        $('#cart_added').removeClass('notify_action');
                    }
                    $(document).find('#cart_added').addClass('notify_action').css('top', 90 + 'px');
                    active_notify();
                    $(btn).html('В корзине');
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }
</script>




{{ footer }}





